<footer>
				<div class="p-5 bg-dark text-white" id="footer_container">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md row">
								<span class="logo_blancr">
									<img src="/imgs/logo_tafa.1.png" alt="our logo">
								</span>
								<div class="d-flex align-items-center py-3" id="social_media_icons">
									<div>
										<a href="https://www.facebook.com/talentfactoryTAFA" target="_blank" class="text-white pe-3 fs-4">
											<i class="fa-brands fa-facebook footer_icons"></i>
										</a>
									</div>
									<div>
										<a href="https://twitter.com/P4Human" target="_blank" class="text-white px-3 fs-4">
											<i class="fa-brands fa-twitter footer_icons"></i>
										</a>
									</div>
									<div>
										<a href="https://www.instagram.com/tafa_talentfactory/" target="_blank" class="text-white px-3 fs-4">
											<i class="fa-brands fa-instagram footer_icons"></i>
										</a>
									</div>
									<div>
										<a href="https://www.linkedin.com/company/tafa-talent-factory/" target="_blank" class="text-white px-3 fs-4">
											<i class="fa-brands fa-linkedin footer_icons"></i>
										</a>
									</div>
								</div>
							</div>

							<div class="col-md pt-3">
								<p class="text-uppercase m-0">
									<b>adresse</b>
								</p>
								<p>
									TalentFactory@gmail.com | pass<br/>
									Cité Plancton
									<br/>
									Ambaranjana, 101 Antananarivo
									<br/>
									Madagascar
								</p>
							</div>
							<!-- / -->

							<div class="col-md pt-3">
								<p class="text-uppercase m-0">
									<b>newsletter</b>
								</p>
								<p>
									Abonnez-vous à notre newsletter pour être au
																																				                                courant de nos divers actualités!
								</p>
								<form action="" method="" class="d-flex">
									<input type="email" class="p-2 me-2" placeholder="votre adresse email"/>
									<input class="px-2" type="submit" value="Envoyer"/>
								</form>
							</div>
						</div>
					</div>

					<div class="container-fluid pt-5 mt-5">
						<div class="row">
							<div class="d-flex align-items-center" id="copyright">
								<span>
									©Copyright | dev-tafa - 2022-All Rights Reserved
								</span>
							</div>
						</div>
					</div>
				</div>
			</footer>