<header>
	<div class="container-fluid pt-3 px-5 mb-5">
		<div class="row pb-3">
			<div class="col-4">
				<img src="/imgs/logo_tafa.1.png" alt="our logo">
			</div>

			<div class="col-8 px-0 d-flex justify-content-end align-items-center">
				<nav class="navbar">
					<ul class="d-lg-flex justify-content-end m-0 p-0 gap-4 gap-lg-5">
						<li class="list-group-item">
							<a class="nav-link text-uppercase fw-bold" href="{{ path('app_home') }}">
								accueil
							</a>
						</li>

						<!-- Qui somme nous -->
						<li class="list-group-item">
							<a class="nav-link text-uppercase fw-bold" href="#">
								Qui sommes-nous
							</a>
							<!-- select -->

							<ul class="px-0 py-2">
								<!-- à propos de Tafa-->
								<li>
									<a href="./pages/apropos.html" class="nav-link fw-bold text-uppercase">
										à propos
									</a>
								</li>
								<!--détails sur la formation -->
								<li>
									<a href="./pages/formations.html" class="nav-link fw-bold text-uppercase">
										nos formations
									</a>
								</li>
							</ul>
						</li>

						<!-- Notre histoire -->

						<li class="list-group-item">
							<a class="nav-link text-uppercase fw-bold" href="#">historique</a>
							<ul class="px-0 py-2 lh-lg">
								<li>
									<a href="./pages/historique2020.html" class="nav-link fw-bold text-uppercase">2020</a>
								</li>

								<li>
									<a href="./pages/historique2021.html" class="nav-link fw-bold text-uppercase">
										2021
									</a>
								</li>
							</ul>
						</li>

						<!-- Nous contacter -->

						<li class="list-group-item">
							<a class="nav-link text-uppercase fw-bold" href="#">
								contact
							</a>
							<ul class="px-0 py-2 lh-lg">
								<li>
									<a href="./pages/contact.html" class="nav-link fw-bold text-uppercase">prendre contact</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>

				<!-- menu icon -->

				<div class="menu_icon ms-4 me-4">
					<i class="fa-solid fa-bars" id="menu_btn"></i>
				</div>

				<!-- icon for darkmode -->

				<div id="list_icon ">
					<i id="icon_darkmode" class="fa fa-moon fs-6 text-black"></i>
				</div>
			</div>
		</div>
	</div>
</header>
